nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;

  background-color: $secondary;
  > h1 {
    color: $primary;
  }

  > div {
    display: flex;
    justify-content: center;

    > a {
      color: $primary;
      font-size: 1.2rem;
      margin: 0 1rem;
      transition: all 0.3s;
      &:hover {
        color: $tertiary;
      }
      > p {
        border-radius: 50%;
        background-color: $tertiary;
        position: absolute;
        width: 15px;
        height: 15px;
        font: 900 0.7rem "Nunito";
        display: flex;
        justify-content: center;
        transform: translate(-50%, -80%);
      }
    }
  }
}
