@media screen and (max-width: 820px) {
  .cart {
    grid-template-columns: 1fr;
    > main {
      padding: 2rem;
      overflow-y: auto;
      > h1 {
        color: $tertiary;
        font: 200 2rem "Nunito";
      }
    }
    > aside {
      border-radius: 0;
      padding: 2rem;
      > h2 {
        margin: 1rem;
        font: 100 1.8rem "Nunito";
        letter-spacing: 2px;
        &:last-of-type {
          font-weight: 600;
        }
      }
    }
  }

  .cartItem {
    background-color: $tertiary;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    align-items: center;
    > img {
      height: 200px;
      width: 100%;
      object-fit: contain;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      > button {
        background-color: $primary;
        color: $tertiary;
        padding: 0.4rem 0.9rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $secondarydark;
          color: $tertiary;
        }
      }
      > p {
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
      }
    }
    > svg {
      cursor: pointer;
      font-size: 1.5rem;
      display: inline-block;
      margin: auto;
      color: $primary;
      &:hover {
        color: $secondarydark;
      }
    }
  }
}
